/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #222;
}

.centered{
    text-align: center;
    font-size: 40px;
    color: black;
}

.calculator {
    width: 450px;
    margin: 40px auto;
    padding: 15px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-width: 1.5px;
    align-items: center;
    border-radius: 20px;
    background-color: #333;
    border-color: #555;
}

.monitor {
    border-color: transparent;
    border-radius: 4px;
    text-align: right;
    width: 92%;
    border-width: 4px;
    padding: 20px 10px;
    margin: 5px;
    align-items: center;
    border-style: solid;
    font-size: x-large;
    background-color: #222;
    color: white;
}

.result,
.button,
.buttonNum {
    width: 65px;
    float: left;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: white;
    border: 1px solid #666; 
    background-color: #444; 
}

.buttonNum {
    background-color: #555; 
}

.result {
    background-color: rgb(78, 173, 175);
}

.result:hover,
.buttonNum:hover,
.button:hover {
    background-color: #777;
    color: white;
    font-weight: bold;
}

.buttons,
.memoryButtons {
    display: flex;
    width: 100%;
}
